.field-osmap .field-osmap-ui {
  height: 50vh;
  padding: 0;
}
.field-osmap .field-osmap-ui img {
  max-width: none;
}
.field-osmap .field-content {
  margin-top: 1.5em;
}
.field-osmap .field-content:first-of-type {
  margin-top: 0;
}
.field-osmap .field-content.field-lat,
.field-osmap .field-content.field-lng {
  float: left;
  width: 50%;
}
.field-osmap .field-content.field-lat input,
.field-osmap .field-content.field-lng input {
  padding-right: 0.5em;
}
.field-osmap .field-content.field-lat {
  padding-right: 0.75em;
}
.field-ososmap .field-content.field-lng {
  padding-left: 0.75em;
}
